<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
User updated
<p th:text="${user.name}"></p>
With New Contact called
<p th:text="${user.contact}"></p>
</body>
</html>
